*.o merge=ours
*.crf merge=ours
*.d merge=ours
*.axf merge=ours
*.bin merge=ours
*.htm merge=ours
*.hex merge=ours
*.lnp merge=ours
*.map merge=ours
*.sct merge=ours
*.dep merge=ours
*.crf merge=ours
*.mxproject merge=ours
*.ioc merge=ours
*.txt merge=ours
*.ini merge=ours
*.uvguix* merge=ours
*.uvprojx merge=ours
*.uvoptx merge=ours
*.scvd merge=ours
*.dbgconf merge=ours